<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Запись к врачу</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="all">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<link rel="icon" type="image/png" href="images/favicon-medical.png">

	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

	<!--Иконки-->
	<link href="../static/css/fonts/icons_med.css" rel="stylesheet" th:href="@{/css/icons_med.css}">

	<!-- цвета-->
	<link href="../static/css/default-color.css" rel="stylesheet" id="color" th:href="@{/css/default-color.css}">

	<!--bootstrap-->
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">

	<!--для меню-->
	<link href="../static/css/dropmenu.css" rel="stylesheet" th:href="@{/css/dropmenu.css}">

	<!--для формы в бд-->
	<link href="../static/css/accordion.css" rel="stylesheet" th:href="@{/css/accordion.css}">

	<!--Owl Carousel-->
	<link href="../static/css/owl.carousel.css" rel="stylesheet" th:href="@{/css/owl.carousel.css}">

	<!-- мобилки -->
	<link rel="stylesheet" th:href="@{/css/jquery.mmenu.all.css}" href="../static/css/jquery.mmenu.all.css" />
	<link rel="stylesheet" th:href="@{/css/demo.css}" href="../static/css/demo.css" />


</head>
<body>

<div id="wrap">

	<!--хедер-->

	<div id="header-2">

		<header class="header header2">
			<div class="container">


				<div class="row">

					<div class="col-md-3">
						<a href="/" class="logo" style="color: #0D0D0D">
							<h5>Предоставление медицинских услуг</h5></a>
					</div>

					<div class="col-md-9">


						<nav class="menu-2">
							<ul class="nav wtf-menu">
								<li class="item-select parent"><a href="/">Главная страница</a>
								</li>

								<li class="parent"><a href="/about_us">О нас</a>
								</li>

								<li class="parent"><a href="#.">Страницы</a>
									<ul class="submenu">
										<li> <a href="/zapis">Запись к врачу</a> </li>
										<li> <a href="/vids_usl">Виды услуг</a> </li>
										<li> <a href="/about_us">О нас</a> </li>
										<li> <a href="/auth">Я врач</a> </li>
									</ul>
								</li>

								<li><a href="/zapis">Запись к врачу</a></li>

								<li class="parent"><a href="/vids_usl">Виды услуг</a></li>
								<li class="parent"><a href="/auth">Я врач</a></li>



							</ul>
						</nav>

					</div>

				</div>


			</div>
		</header>
	</div>

	<!--хедер-->


	<!-- для мобилок -->
	<div class="container">
		<div id="page">
			<header class="header">
				<a href="#menu"></a>

			</header>

			<nav id="menu">
				<ul>
					<li class="select"><a href="/">Главная страница</a></li>
					<li><a href="/about_us">О нас</a></li>
					<li><a href="#.">Страницы</a>
						<ul>
							<li> <a href="/zapis">Запись к врачу</a> </li>
							<li> <a href="/vids_usl">Виды услуг</a> </li>
							<li> <a href="/about_us">О нас</a> </li>
							<li><a href="/auth">Я врач</a></li>
						</ul>
					</li>

					<li><a href="/zapis">Запись к врачу</a></li>

					<li><a href="/vids_usl">Виды услуг</a></li>
					<li><a href="/auth">Я врач</a></li>

				</ul>

			</nav>
		</div>
	</div>
	<!-- для мобилок -->




	<!--баннер-->

	<div class="banner">

		<div class="detail" style=" box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.32);  padding:24px 0 28px 0;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="paging">
							<h2>Запись к врачу</h2>
							<ul>
								<li><a href="/" style = "float: left;  background: url(images/paging-arrow.png) no-repeat right 9px;  padding: 0 20px 0 0;  margin: 0 12px 0 0;">Главная страница</a></li>
								<li><a style="margin-left: -35px">Запись к врачу</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

	<!--баннер-->


	<!--форма-->
   <div class="make-appointment-two">
   <div class="container">
	<div class="row">
		

		
		<div class="col-md-12">
			<div class="appointment-form">
				
				<div class="main-title">
					<h2>Запись к врачу</h2>
					<p>Никогда не откладывайте решение проблем со здоровьем на потом. Решив проблему здесь и сейчас, вы сможете избежать неприятных последствий вашей болезни. Для записи к врачу заполните форму указанную ниже.</p>
				</div>
				
				<div class="form">
					
  

    
    <section class="bgcolor-a">
        <p class="error" id="error" style="display:none;"></p>
    <p class="success" id="success" style="display:none;"></p>
    
    <form id="appointment_form" method="post" action="/zapis" >
				<span class="input input--kohana">
					<input class="input__field input__field--kohana" type="text" id="input-29" name="name" />
					<label class="input__label input__label--kohana" for="input-29">
                        <i class="icon-user6 icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Ваше имя</span>
					</label>
				</span>
				<span class="input input--kohana">
					<input class="input__field input__field--kohana" type="text" id="input-30" name="email"/>
					<label class="input__label input__label--kohana" for="input-30">
						<i class="icon-dollar icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Email</span>
					</label>
				</span>
				<span class="input input--kohana last">
					<input class="input__field input__field--kohana" type="text" id="input-31" name="number"/>
					<label class="input__label input__label--kohana" for="input-31">
						<i class="icon-phone5 icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Номер телефона</span>
					</label>
				</span>
                
                <span class="input input--kohana">
					<input class="input__field input__field--kohana" type="text" id="datepicker"  placeholder="Желаемая дата приема" onClick="removeChecks();" name="datepicker" />
				</span>

                
                <button type="submit" class="btn btn-success" style="margin-bottom: 20px">Отправить</button>
                        
                        
            </form>
                
			</section>
            
            
    

   
    
				</div>
				
			</div>
		</div>
		
	</div>
   </div>
   </div>
   <!--форма-->

	<!--футер-->
	<footer class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="emergency">
						<i class="icon-phone5"></i>
						<span class="text">Для экстренных звонков</span>
						<span class="number">8-(888)-88-888-88</span>
					</div>
				</div>
			</div>


			<div class="main-footer">
				<div class="row">

					<div class="col-md-6">

						<div class="useful-links">
							<div class="title">
								<h5>предоставление медицинских услуг</h5>
							</div>

							<div class="detail">
								<ul>
									<li style=" background: url(images/links-arrow-light.png) no-repeat 0 9px;"> <a href="/zapis">Запись к врачу</a> </li>
									<li style=" background: url(images/links-arrow-light.png) no-repeat 0 9px;"> <a href="/vids_usl">Виды услуг</a> </li>
									<li style=" background: url(images/links-arrow-light.png) no-repeat 0 9px;"> <a href="/about_us">О нас</a> </li>
								</ul>
							</div>

						</div>

					</div>

					<div class="col-md-6">

						<div class="get-touch">
							<div class="title">
								<h5>Информация</h5>
							</div>

							<div class="detail">
								<div class="get-touch">


									<span class="text">Предоставление медицинских услуг рядом с домом</span>


									<ul>
										<li><i class="icon-location"></i> <span>119454, ЦФО, г. Москва, Проспект Вернадского, д. 78</span></li>
										<li><i class="icon-phone4"></i> <span>8-(888)-88-888-88</span></li>
										<li><a href="mailto:posysaev20001@mail.ru ?subject=Письмо от посетителя сайта "><i class="icon-dollar"></i> <span>posysaev20001@mail.ru</span></a></li>
									</ul>

								</div>
							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="footer-bottom">
			<div class="container">



				<span style="text-align: center;" class="copyrights">Copyright &copy; 2021 Предоставление медицинских услуг. Все права защищены.</span>



			</div>

		</div>

	</footer>
	<!--футер-->



	<a href="#0" class="cd-top" style="background: url(images/back-top.png) no-repeat center 50%; background-color: #02adc6;"></a>
</div>






<script src="js/jquery.js"></script>
<!-- плавный скролл -->
<script src="js/scroll-desktop.js"></script>
<script src="static/js/scroll-desktop-smooth.js"></script>

<!-- слайдеры-->
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src="js/jquery.themepunch.tools.min.js"></script>


<!-- Выбор даты и наведение курсора ввода -->
<script src="js/classie.js"></script>
<script src="js/jquery-ui-1.10.3.custom.js"></script>

<script src="js/tabs.js"></script>


<!--Carousel -->
<script src="js/owl.carousel.js"></script>

<!-- мобилки -->
<script src="js/jquery.mmenu.min.all.js"></script>

<!-- все скрипты -->
<script src="js/custom.js"></script>


</body>
</html>