.header .nav li.item-select{ background: #02adc6;}
.header .nav li:hover{   background: #02adc6;}
.wtf-menu ul.submenu li:hover {  background: #02ADC6;}
.main-footer .tweets .text a:hover {    color: #02adc6;}
.main-footer .newsletter .form input[type=submit]:hover{ background: #02adc6;}
.cd-top{ background-color: #02adc6; }
.header2 .nav li.item-select { background: #02adc6 url(images/navi-plus.png) no-repeat 50% 32%;}
.header2 .nav li.item-select:hover { background: #02adc6 url(images/navi-plus.png) no-repeat 50% 32%; }
.header2 .nav li:hover{  background: #464C5B url(images/navi-plus.png) no-repeat 50% 32%; border-radius: 0; padding:46px 0 32px 0;}
.vids_uslug .vids_usl .icon{ background:#02adc6;}
.appointment-form .form input[type=submit]:hover{ background: #02adc6;}
.banner .detail ul li:last-child a{ color:#02adc6;}
.banner .detail ul li a:hover{ color:#02adc6;}
#services-slide .owl-controls .owl-page.active span{ background:#02adc6 ;}
.welcome-three .welcome-detail ul li i{  color: #02ADC6; }
.vid_uslug_content .serv-sec .detail h5{ color:#02adc6; }
.main-footer .useful-links ul li a:hover{ color:#02adc6;}
.main-footer .get-touch ul li a:hover span{color:#02adc6;}
#accordion2 .time-table{ background: #02adc6 url(images/time-icon-bg.png) no-repeat;}
.top-bar .get-touch li:last-child a:hover{   color: #2b96cc;}
#page .header a{	background-color:#02adc6 !important;}
.header2.sticky .nav li.item-select { background: #02ADC6;}
.ui-widget-header {  background: #02ADC6;}
.mm-menu {  background: #02adc6 !important;}
